// Contact
.contact-details {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  justify-content: space-evenly;
  color: $primary-color;
  text-transform: uppercase;
  letter-spacing: 1px;
  h2 {
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 1rem;
    border-bottom: 1.5px solid $decorative-color;
  }
  p {
    padding: 1rem;
    background: url(../images/phone-30-64.png) no-repeat;
    background-position: 0 50%;
    font-size: 1.5rem;
    letter-spacing: 3px;
    text-indent: 4rem;
  }
}
