$primary-color: #292929;
$text-color: rgb(99, 99, 99);
$decorative-color: #405f94;
$decorative-color: #405f94;
// $decorative-color: #fe0084;
$link-color: #4568dc;
$light: #e6e6e6;
$very-light: #fefefe;
