// Header - main styles
header {
  position: fixed;
  left: 0;
  right: 0;
  padding: 0.8rem 0;
  z-index: 3;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// Logo
.logo {
  display: flex;
  align-items: center;
  color: $decorative-color;
  font-family: "Poiret One", cursive;
  font-size: 1.3rem;
  img {
    height: 2.5rem;
    width: 2.5rem;
  }
  span {
    padding-left: 1rem;
    transition: all 0.3s ease-in-out;
  }
}

// Header and logo below home section
.changed-header {
  header {
    background-color: rgba($light, 0.8);
  }
  .logo {
    span {
      opacity: 0;
    }
  }
}

// Menu icon and navigation
nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.menu-icon {
  cursor: pointer;
  position: relative;
  background: transparent;
  padding-bottom: 20px;
  color: $primary-color;
  .line {
    position: absolute;
    top: 22px;
    // width: 40px;
    width: 70%;
    height: 2.5px;
    margin-top: 5px;
    background: $primary-color;
    border-radius: 5px;
    transition: 0.5s ease all 0.3s;
  }
  .line:last-child {
    top: 30px;
    width: 25px;
    width: 40%;
  }
}

.menu-icon:hover .line {
  width: 100%;
  // transition: 0.3s ease all;
}

.menu-list {
  position: absolute;
  top: 55px;
  background: $decorative-color;
  padding: 1rem 1.5rem;
  width: 180px;
  opacity: 0;
  transition: all 0.5s ease-out;
  // display: none;
  &.show {
    // display: block;
    opacity: 1;
  }
  .menu-item {
    list-style: none;
    text-align: end;
    line-height: 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $light;
    cursor: pointer;
    transition: all 0.3s ease-out;
    &:hover {
      color: $primary-color;
    }
  }
}

// Headings
h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  color: $primary-color;
}

h1 {
  font-size: 3rem;
  color: $decorative-color;
  letter-spacing: 3px;
}

h2 {
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: 300;
  span {
    font-weight: 600;
    color: darken($decorative-color, 15%);
  }
}

#home {
  height: 100vh;
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
  .intro {
    position: relative;
    padding-top: 40vh;
    z-index: 1;
    &::after {
      content: "";
      border: 3px solid lighten($decorative-color, 10%);
      height: 210px;
      width: 190px;
      position: absolute;
      top: 36vh;
      left: -30px;
      //   right: -20px;
      z-index: -1;
    }
    span {
      font-weight: 600;
      color: darken($decorative-color, 15%);
    }
  }
}
