@media (max-width: 1350px) {
  .container {
    // max-width: 1024px;
  }
}

// @media (max-width: 1024px) {
//   .container {
//     max-width: 1000px;
//   }
// }

@media (max-width: 1140px) {
  // 960px originally
  .container {
    max-width: 1100px;
  }

  %row {
    // max-width: 730px;
    grid-template-rows: 80px repeat(2, minmax(445px, auto));
  }

  .row-h-2-3,
  .row-h-1,
  .row-2-3,
  .row-3-2,
  .row-h-1-1 {
    // grid-template-columns: minmax(auto, 760px);
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 2.5rem;
    padding: 20px 30px;
    & > * {
      max-width: 610px;
    }
  }

  .row-h-2-3,
  .row-h-1-1 {
    grid-template-rows: 80px auto minmax(445px, auto);
  }

  .row-2-3,
  .row-3-2 {
    grid-template-areas:
      "details"
      "image";
    grid-template-rows: repeat(2, minmax(445px, auto));
    grid-auto-columns: 1fr;
  }

  .row-2-3:first-of-type {
    grid-template-areas:
      "heading"
      "details"
      "image";
    grid-template-rows: 80px repeat(2, minmax(445px, auto));
  }

  .row-h-1 {
    grid-template-rows: 80px minmax(445px, auto);
  }

  .section-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    span:nth-child(2) {
      display: none;
    }
    .title {
      margin-left: 1.3rem;
      padding-bottom: 3px;
      border-bottom: 2px solid $text-color;
      writing-mode: initial;
      text-align: center;
      height: auto;
    }
  }
}

@media (max-width: 740px) {
  .image-wrapper {
    max-width: 70%;
    margin: auto;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 14px;
  }

  .menu-list {
    width: 85vw;
    height: 55vh;
    a {
      text-align: center;
      font-size: 1.2rem;
    }
  }

  .round-wrapper {
    width: 280px;
    height: 280px;
  }

  .image-wrapper {
    max-width: 80%;
    margin: auto;
  }

  .skills-rain {
    // width: 300px;
    width: 100%;
    height: 300px;
    padding-right: 50px;
  }

  .contact-details {
    h2 {
      font-size: 1.5rem;
    }
    p {
      padding: 1.5rem;
      font-size: 1.2rem;
    }
  }

  footer {
    padding: 20px 0;
    span {
      display: block;
      margin-top: 5px;
    }
  }
}

@media (max-width: 350px) {
  .logo span {
    display: none;
  }
}
