@media (max-width: 1350px) {
  .container {
    max-width: 1024px;
  }
}

// @media (max-width: 1024px) {
//   .container {
//     max-width: 1000px;
//   }
// }

@media (max-width: 960px) {
  .container {
    max-width: 900px;
  }

  .row-h-2-3,
  .row-h-1,
  .row-2-3,
  .row-3-2,
  .row-h-1-1 {
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    padding: 20px;
  }

  .row-2-3,
  .row-3-2 {
    grid-template-areas:
      "details"
      "image";
  }

  .row-2-3:first-of-type {
    grid-template-areas:
      "heading"
      "details"
      "image";
  }

  .section-heading {
    display: flex;
    align-items: center;

    span:nth-child(2) {
      display: none;
    }
    .title {
      flex: 1;
      writing-mode: initial;
      text-align: center;
      height: 100%;
    }
  }
}

@media (max-width: 720px) {
  .container {
    max-width: 700px;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 14px;
  }

  .menu-list {
    width: 85vw;
    height: 55vh;
    a {
      text-align: center;
      font-size: 1.2rem;
    }
  }

  .round-wrapper {
    width: 280px;
    height: 280px;
  }

  .image-wrapper {
    max-width: 80%;
    margin: auto;
  }

  .skills-rain {
    width: 300px;
    height: 300px;
  }

  .contact-details {
    h2 {
      font-size: 1.5rem;
    }
    p {
      padding: 1.5rem;
      font-size: 1.2rem;
    }
  }

  footer {
    padding: 20px 0;
    span {
      display: block;
      margin-top: 5px;
    }
  }
}

@media (max-width: 350px) {
  .logo span {
    display: none;
  }
}
