@media (max-width: 1140px) {
  %row {
    grid-template-columns: 1fr;
    padding: 50px 0;
    * {
      margin: auto;
      max-width: 600px;
    }
  }

  .row-2-3,
  .row-3-2 {
    grid-template-areas:
      "details"
      "image";
  }

  .row-2-3:first-of-type {
    grid-template-areas:
      "heading"
      "details"
      "image";
  }

  .section-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    span:nth-child(2) {
      display: none;
    }
    .title {
      margin-left: 1.3rem;
      padding-bottom: 3px;
      border-bottom: 2px solid $primary-mid;
      writing-mode: initial;
      text-align: center;
      height: auto;
    }
  }

  .project-details {
    grid-gap: 2.5rem;
  }

  .skills-rain p {
    margin: initial;
  }

  .contact-details h4 {
    font-size: 1.5rem;
  }
}

@media (max-width: 740px) {
  section {
    padding: 0 30px;
  }

  .image-wrapper {
    max-width: 70%;
    margin: auto;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 14px;
  }

  .menu-list {
    width: 85vw;
    height: 55vh;
    a {
      text-align: center;
      font-size: 1.2rem;
    }
  }

  .round-wrapper {
    width: 280px;
    height: 280px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .image-wrapper {
    max-width: 80%;
    margin: auto;
  }

  .skills-rain {
    width: 100%;
    height: 300px;
    padding-right: 50px;
  }

  .details p,
  .project-details p {
    padding: 0.5rem 0;
    line-height: 1.8;
  }

  .contact-details {
    p {
      padding: 1.5rem;
      font-size: 1.2rem;
    }
  }

  footer {
    padding: 20px 0;
    span {
      display: block;
      margin-top: 5px;
    }
  }
}

@media (max-width: 350px) {
  .logo span {
    display: none;
  }
}
