#projects img {
  width: 100%;
}

.image-wrapper {
  background: url(../images/clocks-code.png) no-repeat;

  img {
    // object-fit: cover;
    transition: all 0.3s ease-in-out;
  }
}
.image-wrapper:hover img {
  opacity: 0.8;
}

.img-right {
  display: grid;
  grid-template-columns: 100px 3fr 2fr;
  grid-gap: 3rem;
}

.img-left {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 100px 2fr 3fr;
  grid-gap: 3rem;
}

.project-details {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;
}
