#projects img {
  width: 100%;
}

.image-wrapper {
  background: url(../images/ptink.png) no-repeat;
}
.image-wrapper:hover img {
  opacity: 0.5;
}

.img-right {
  display: grid;
  grid-template-columns: 100px 3fr 2fr;
  grid-gap: 3rem;
}

.img-left {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 100px 2fr 3fr;
  grid-gap: 3rem;
}

.project-details {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;
}

.lorem {
  font-family: "Inconsolata", monospace;
}
