section {
  &:nth-of-type(even) {
    background-color: $light;
  }
  &:nth-last-of-type(odd) {
    background-color: $very-light;
  }
  p {
    padding-top: 1rem;
    line-height: 1.5;
    text-align: justify;
  }
}

// Section heading
.section-heading {
  // grid-area: heading;
  padding: 0.5rem 2rem;
  font-size: 2rem;
  line-height: 1.2;
  .digits {
    font-size: 3rem;
    font-weight: 600;
    color: $decorative-color;
  }
  span:nth-child(2) {
    display: block;
    margin: 1rem auto;
    height: 90px;
    width: 3px;
    background-color: $text-color;
  }
  .title {
    height: 200px;
    text-transform: uppercase;
    font-weight: 500;
    writing-mode: vertical-rl;
    letter-spacing: 2px;
  }
}

// Sections layout
%row {
  display: grid;
  grid-gap: 3rem;
  padding: 70px 20px;
}

// About - Vertical heading / box 2fr / box 3fr
.row-h-2-3 {
  @extend %row;
  grid-template-columns: 100px 2fr 3fr;
}

// Single project: details / image
.row-2-3 {
  @extend %row;
  grid-template-areas: " . details image";
  grid-template-columns: 100px 2fr 3fr;
  &:first-of-type {
    grid-template-areas: " heading details image";
  }
}

// Single project: image / details
.row-3-2 {
  @extend %row;
  grid-template-areas: " . image details";
  grid-template-columns: 100px 3fr 2fr;
}

// Skills section - Vertical heading / 2 equal boxes
.row-h-1-1 {
  @extend %row;
  grid-template-columns: 100px auto auto;
  grid-gap: 4rem;
}

// Projects & Contact sections - Vertical heading / 1 box
// OBS!! Only contact in this branch!
.row-h-1 {
  @extend %row;
  grid-template-columns: 100px auto;
}

// Round image wrapper
.round-wrapper {
  height: 320px;
  width: 320px;
  margin: auto;
  border-radius: 50%;
  background: url(../images/ola04.jpg) 40% 0 / cover no-repeat;
}
