// Contact
.contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  letter-spacing: 1px;
  h4 {
    font-size: 2rem;
    font-weight: 500;
    color: $primary-dark;
    padding-bottom: 1rem;
    border-bottom: 1.5px solid $secondary-dark;
  }
  p {
    padding: 1rem;
    background: url(../images/phone-30-64.png) no-repeat;
    background-position: 0 50%;
    font-size: 1.5rem;
    letter-spacing: 3px;
    text-indent: 4rem;
  }
}
