#projects img {
  width: 100%;
}

// Code images below projects printscreens visible on hover
.project {
  &:nth-of-type(1) .image-wrapper {
    background: url(../images/minimal-code.png);
  }
  &:nth-of-type(2) .image-wrapper {
    background: url(../images/clocks-code.png);
  }
  &:nth-of-type(3) .image-wrapper {
    background: url(../images/todo-code.png);
  }
  &:nth-of-type(4) .image-wrapper {
    background: url(../images/conventer-code.png);
  }
  // Project description
  .project-details {
    grid-area: details;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // Project View
  .image-wrapper {
    grid-area: image;
    background-repeat: no-repeat;
    a {
      background-color: $primary-very-light;
    }
    img {
      transition: all 0.3s ease-in-out;
    }
    &:hover img {
      opacity: 0.8;
    }
  }
}
