// Main container
.container {
  max-width: 1800px;
  margin: 0 auto;
}

// Basic section styles
section {
  padding: 0 70px;
  &:nth-of-type(even) {
    background-color: $primary-light;
  }
  &:nth-last-of-type(odd) {
    background-color: $primary-very-light;
  }
  p {
    line-height: 1.7;
    text-align: justify;
  }
}

// Sections layout
%row {
  display: grid;
  grid-gap: 2.5rem;
  padding: 70px 0;
  > * {
    margin-left: auto;
    margin-right: auto;
  }
}

// About section: vertical heading / box 2fr / box 3fr
.row-h-2-3 {
  @extend %row;
  grid-template-columns: minmax(auto, 100px) 2fr 3fr;
}

// Single project: details / image
.row-2-3 {
  @extend %row;
  grid-template-areas: " . details image";
  grid-auto-columns: minmax(auto, 100px) minmax(315px, 2fr) minmax(610px, 3fr);
  &:first-of-type {
    grid-template-areas: "heading details image";
  }
}

// Single project: image / details
.row-3-2 {
  @extend %row;
  grid-template-areas: " . image details";
  grid-auto-columns: minmax(auto, 100px) minmax(610px, 3fr) minmax(315px, 2fr);
}

// Skills section: vertical heading / 2 equal boxes
.row-h-1-1 {
  @extend %row;
  grid-template-columns: minmax(auto, 100px) auto auto;
  grid-template-columns: minmax(auto, 100px) repeat(2, 1fr);
}

// Contact section: vertical heading / 1 box
.row-h-1 {
  @extend %row;
  grid-template-columns: minmax(auto, 100px) auto;
}

// Round image wrapper
.round-wrapper {
  height: 320px;
  width: 320px;
  margin: auto;
  border-radius: 50%;
  background: url(../images/ola04.jpg) 40% 0 / cover no-repeat;
}

// About | Skills | Contact details
.details {
  max-width: 800px;
  > *:first-child {
    margin-bottom: 2rem;
  }
  p {
    padding: 0.5rem 0;
  }
}
