// General button style
.btn {
  position: relative;
  width: 240px; // maybe it could be in percentages??
  padding: 12px 0;
  border: 2px solid $primary-dark;
  color: $primary-dark;
  font: 500 1rem $heading-font;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  overflow: hidden;
  span {
    transition: all 0.3s;
    display: inline-block;
  }
  &:hover span {
    transform: translateY(200%);
  }
  &::before {
    position: absolute;
    left: 0;
    top: -100%;
    width: 100%;
    padding: 7px 0;
    transition: all 0.3s;
  }
  &:hover::before {
    top: 0;
  }
}

// Button linking to project
.demo {
  margin-top: auto;
  margin-bottom: 2rem;
  &::before {
    content: url(../images/play-button.png);
  }
}

// Button linking to Github repository
.code {
  &::before {
    content: url(../images/GitHub-Mark-32px.png);
  }
  span {
    position: relative;
    &::before {
      content: "\003c";
      position: absolute;
      left: -20px;
      transform: translateY(-15%);
      font-size: 1.5rem;
    }
    &::after {
      content: "\003e";
      position: absolute;
      right: -15px;
      transform: translateY(-15%);
      font-size: 1.5rem;
    }
  }
}

// Button in contact section
.msg::before {
  content: url(../images/envelope-closed-32.png);
}
