// Loading spinners
#loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: $primary-light;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    position: relative;
    width: 9rem;
    height: 9rem;
    i {
      position: absolute;
      font-size: 4rem;
    }
    i:first-of-type {
      left: 0;
      top: calc(50% - 2rem);
      color: $secondary-dark;
    }
    i:nth-of-type(2) {
      top: 0;
      right: 0.2rem;
      color: $secondary-light;
    }
    i:last-of-type {
      right: 0.5rem;
      bottom: 0;
      color: darken($secondary-dark, 15%);
    }
  }
}
