// General navigation layout
nav {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

// Menu icon
.menu-icon {
  position: relative;
  padding-bottom: 20px;
  cursor: pointer;
  .line {
    position: absolute;
    top: 22px;
    width: 70%;
    height: 2.5px;
    margin-top: 5px;
    background: $primary-dark;
    border-radius: 5px;
    transition: 0.5s ease all 0.3s;
  }
  .line:last-child {
    top: 30px;
    width: 40%;
  }
  &:hover .line {
    width: 100%;
  }
}

// Dropdown Menu List
.menu-list {
  position: absolute;
  top: 55px;
  width: 180px;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: $secondary-dark;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-out;
  &.show {
    visibility: visible;
    opacity: 1;
  }
  li {
    list-style: none;
    text-align: end;
    line-height: 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $primary-light;
    cursor: pointer;
    transition: all 0.3s ease-out;
    &:hover {
      color: $primary-dark;
    }
    a {
      display: block;
      padding-right: 5px;
    }
  }
}
