// Basic Colours
$primary-dark: #292929;
$primary-mid: rgb(99, 99, 99);
$primary-light: #e6e6e6;
$primary-very-light: #fefefe;
$secondary-dark: #405f94;
$secondary-light: #4568dc;

// ******* For fonts variables see typography partial
